<mat-toolbar class="nav">
  <!-- for mobile view -->
  <div class="toggleMenu">
    <button mat-icon-button (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="spacer"></div>
  <!-- <div class="mobile-view-window" *ngIf="mobileViewMenu">

  </div> -->
    <!-- make X a span, give it an svg -->
    <div class="mobile-view-window" [@menuAnimation] [@buttonAnimation] *ngIf="mobileViewMenu" matRipple>
      <div mat-icon-button class="mobile-view-close" (click)="closeMenu()">
        <mat-icon>close</mat-icon>
      </div>
      <div class="mobile-view-button" routerLink="/" (click)="closeMenu()">Home</div>
      <div class="mobile-view-button" routerLink="/about" (click)="closeMenu()">About</div>
      <div class="mobile-view-button" routerLink="/contact" (click)="closeMenu()">Contact</div>
      <div class="mobile-view-button" [matMenuTriggerFor]="belowMenu">Projects</div>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/diss" routerLinkActive="active">Dissertation</button>
        <button mat-menu-item routerLink="/listify" routerLinkActive="active">Listify</button>
        <button mat-menu-item routerLink="/virtual-reality" routerLinkActive="active">Virtual Reality</button>
        <button mat-menu-item routerLink="/serious-games" routerLinkActive="active">Serious Games</button>
      </mat-menu>
    </div>
  <!-- for desktop -->
  <span id="leftside" class="logo">JFellows</span>
  <button mat-button routerLink="/" class="menu-button">Home</button>
  <button mat-button routerLink="/about" routerLinkActive="active" class="menu-button">About</button>
  <button mat-button routerLink="/contact" routerLinkActive="active" class="menu-button">Contact</button>
  <button mat-button [matMenuTriggerFor]="belowMenu" class="menu-button">Projects
  </button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/diss" routerLinkActive="active">Dissertation</button>
    <button mat-menu-item routerLink="/listify" routerLinkActive="active">Listify</button>
    <button mat-menu-item routerLink="/virtual-reality" routerLinkActive="active">Virtual Reality</button>
    <button mat-menu-item routerLink="/serious-games" routerLinkActive="active">Serious Games</button>
  </mat-menu>
</mat-toolbar>
