.nav {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: #EECD02;
  box-shadow: 0px 3px 5px #474647;
}

.logo {
  font-family: Parisienne, cursive;
  font-size: 32px;
  font-weight: 600;
  color: #eee;
  text-shadow: 0px -1px 5px #00000050;
  margin-right: 8px;
}

.menu-button {
  font-size: 14pt;
  font-weight: 300;
  margin-left: 4px;
}

/* --- Mobile view --- */
.toggleMenu {
  display: none;
}

.spacer {
  display: none;
}


@media screen and (max-width: 600px) {
  .nav {
    flex: 1;
    flex-flow: row-reverse;
  }

  .toggleMenu {
    display: block;
    float: right;
  }

  .spacer {
    display: block;
    flex: 1 1 auto;
  }

  .menu-button {
    display: none;
  }

  .logo {
    align-self: flex-end;
  }

  /* the modal */
  .mobile-view-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 20;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000d8;
    transition: 1s ease-in;
  }
  
  .mobile-view-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 30;
    align-items: center;
    width: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* modal-buttons */
  .mobile-view-button {
    font-size: 42px;
    font-weight: 200;
    color: #EECD02;
    margin: 16px 0px 48px 0px;
    border: 0;
    background-color: transparent;
  }

  .mobile-view-line {
    color: #EECD02;
    width: 300px;
    margin-bottom: 32px;
  }

  /* close modal */
  .mobile-view-close {
    color: #EECD02;
    font-size: 40px;
    font-weight: 500;
    align-self: flex-end;
    margin: 32px 32px 0px 0px;
    animation-name: slide-in;
  }

}

/* desktop */
@media (min-width: 601px) {
  .mobile-view-window {
    display: none;
  }
}



@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}