<!-- <mat-toolbar class="nav" (scroll)="onScroll($event)" id="mobile-nav" [@scrollFade] matRipple> -->
<!-- for mobile view -->

<!-- <div class="spacer"></div> -->
<!-- for desktop -->
<!-- <img src="../../../../assets/svg/folio-logo.svg" class="logo">
  <div routerLink="/" class="menu-button">Home</div>
  <div mat-button routerLink="/about" routerLinkActive="active" class="menu-button">About</div>
  <button mat-button routerLink="/contact" routerLinkActive="active" class="menu-button">Contact</button>
  <button mat-button [matMenuTriggerFor]="belowMenu" class="menu-button">Projects</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/diss" routerLinkActive="active">Dissertation</button>
    <button mat-menu-item routerLink="/listify" routerLinkActive="active">Listify</button>
    <button mat-menu-item routerLink="/virtual-reality" routerLinkActive="active">Virtual Reality</button>
    <button mat-menu-item routerLink="/serious-games" routerLinkActive="active">Serious Games</button>
  </mat-menu>
</mat-toolbar> -->
