.footer-container {
    margin-top: 32px;
    position: static;
    bottom: 0;
    width: 100%;
    height: 128px;
    background-color: rgba(255, 217, 0, 0.7);
    border-top: solid 1px #777;
}

#tempfooter {
    text-align: center;
    margin-top: 24px;
}