.footer-container {
  margin-top: 32px;
  position: inherit;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: var(--primary);
  color: var(--on-primary);
  border-top: solid 1px var(--shadow);
}

#tempfooter {
  text-align: center;
  margin-top: 12px;
}
