.container {
  display: flex;
  flex-direction: row;
}

.card {
  flex: auto;
  width: 250px;
  height: 300px;
  border-radius: 4px;
  margin: 24px 4px 24px 16px;
  background-color: var(--card-panel);
  color: var(--on-background);
  box-shadow: 0px 2px 5px var(--shadow);
}

.card-header {
  text-align: center;
  height: 50px;
  background-color: var(--background);
  margin: 4px;
}

.card-img {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-text {
  margin-bottom: 24px;
}

.card-body {
  width: fit-content;
  margin: 24px 16px 24px 16px;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: auto;
    height: 120px;
    margin: 16px 32px 0 32px;
  }

  .card-body {
    height: max-content;
  }
}
