body, html {
    height: 100%;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: image('assets/images/diss-3d-env.png'); */
}

.card-header {
  position: relative;
  background-color: #eee;
  width: 100%;
  z-index: 2;
}

.img-start {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  width: inherit;
  /* max-height: 450px; */
  background: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.layover {
  position: relative;
  width: 100%;
  background-color: #00000050;
  height: 450px;
  text-align: center;
}

.layover-text {
  margin-top: 200px;
  font-size: 60px;
  font-weight: 300;
  color: #ccc;
  text-shadow: 1px 1px #474647;
}

.text-body {
  width: 100%;
  position: relative;
  background-color: #eee;
  z-index: 1;
}
