
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-start {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -5;
    width: inherit;
    /* max-height: 450px; */
    background: fixed;
}

.layover {
    position: relative;
    width: 100%;
    background-color: #00000050;
    height: 450px;
}

.text-body {
    width: 100%;
    position: relative;
    background-color: #eee;
    z-index: 1;
}