.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  flex: auto;
  max-width: 320px;
  height: 250px;
  border: solid 1px #ccc;
  border-radius: 16px;
  margin: 24px 16px 48px 16px;
}

.card-header {
  text-align: center;
  height: 50px;
  background-color: #47464725;
  border-radius: 8px;
  margin: 4px;
}

.card-img {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-actions {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

