.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  flex: auto;
  max-width: 320px;
  height: 350px;
  border: solid 1px #ccc;
  border-radius: 8px;
  margin: 24px 4px 48px 4px;
}

.card-header {
  text-align: center;
  height: 50px;
  background-color: #47464725;
  border-radius: 8px;
  margin: 4px;
}

.card-img {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-text {
  margin-bottom: 24px;
}

.mat-card-actions {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

/* ON MOUSEOVER */
.card:hover {
  transform: scale(1.05);
  border: solid 1px #EECD0260;
  box-shadow: 0px 0px 3px 3px #EECD0250;
}

/* i WANT THIS TO APPLY WHEN CARD IS HOVERED, NOT THE BUTTON ITSELF */
.mat-card-actions:hover {
  transform: scale(0.95);
}

@media (max-width:728px) {
  .card {
    max-width: max-content;
    margin: 8px 24px 16px 24px;
  }
}