<div class="display-window">
    <h1 class="title"> Hello. </h1>
    <p class="bio">Frontend developer intro. Throw in some filler words. Then some more filler words.</p>

    <!-- use -wordmark for text on icon (devicon-###-plain-wordmark)
    <i class="devicon-html5-plain" id="caro-icon"> </i>
    <i class="devicon-bootstrap-plain" id="caro-icon"> </i>
    <i class="devicon-css3-plain" id="caro-icon"> </i>
    <i class="devicon-javascript-plain" id="caro-icon"> </i>
    <i class="devicon-react-plain" id="caro-icon"> </i>
    <i class="devicon-typescript-plain" id="caro-icon"> </i>
    <i class="devicon-git-plain" id="caro-icon"> </i>
    <i class="devicon-java-plain" id="caro-icon"> </i>
    <i class="devicon-python-plain" id="caro-icon"> </i>
    <i class="devicon-mysql-plain" id="caro-icon"> </i>
    <i class="devicon-visualstudio-plain" id="caro-icon"> </i> -->

</div>