/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #eee;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f45e011a;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F45D0180;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F45D01;
}
