.container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  height: 180px;
  width: 340px;
  border-radius: 4px;
  margin: 24px;
  padding: 0;
}

.card-img {
  width: inherit;
  height: inherit;
  margin: 0 !important;
  border-radius: 4px;
}

.mat-raised-button {
  background-color: #F45D01;
  color: #eee;
  font-weight: 300;
} 

/* ON MOUSEOVER */
.overlay {
  position: absolute;
  z-index: 3;
  height: inherit;
  width: inherit;
  top: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #eece02d7;
}

.layout:hover .overlay {
  opacity: 1;
}

.text {
  color: #474647;
  font-size: 16px;
  position: absolute;
  left: 0;
  margin: 48px 8px 8px 8px;
  text-align: left;
}
.title {
  color: #474647;
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
  text-align: left;
}
.view {
  color: #eee;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 32px;
  margin: 8px;
}


@media (max-width:756px) {
  .card {
    width: 75vw;
    margin: 16px 4px;
    transition: none;
    min-height: 100px;
    overflow: hidden;
  }
}
