.container {
  margin-top: 32px;
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  height: 240px;
  width: 30vw;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 0;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  transition: ease .4s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: inherit;
  height: inherit;
  margin: 0 !important;
  border-radius: 4px;
}

.mat-raised-button {
  background-color: #F45D01;
  color: #eee;
  font-weight: 300;
}

/* card mouseover */
.overlay {
  position: absolute;
  z-index: 3;
  height: inherit;
  width: inherit;
  top: 0;
  opacity: 0;
  transition: ease .4s;
  background-color: #eece02ee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.layout:hover .overlay {
  opacity: 1;
}

.text {
  color: #474647;
  font-size: 16px;
  /* position: absolute; */
  left: 0;
  margin: 8px;
  text-align: left;
}

.title {
  color: #474647;
  font-size: 32px;
  /* position: absolute; */
  top: 0;
  left: 0;
  margin: 8px 8px 4px 8px;
  text-align: left;
}

.subtitle {
  color: #474647;
  font-size: 20px;
  left: 0;
  margin: 4px 8px;
}

.view-project {
  color: #eee;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  margin: 8px 8px;
}

.mat-raised-button:hover {
  background-color: #a53f00;
}

@media (max-width:996px) {
  .card {
    width: 45vw;
    transition: none;
    min-height: 100px;
    overflow: hidden;
  }
}

@media (max-width:700px) {
  .card {
    width: 75vw;
    margin: 16px 4px;
    transition: none;
    min-height: 100px;
    overflow: hidden;
  }
}
